


.container-fluid {
  height: 740px;
  margin: 0 auto;
  clear: both;
  background-color: #343a40;
  
  
}

h1{
  text-align: center;
}

mark{
  background-color: rgb(204, 81, 65);


}

#name{
  background-color: rgb(230, 184, 59);
  font-size: 50px;
}



.massege {
  margin-left: 150px;

}

#small{
  background-color: rgb(85, 175, 73);
}

.card-body {
  margin-top: 180px
}

.card-title {
font-size: 40px;
}

h5 {

}