


#home {
  height: 740px;
  margin: 0 auto;
  clear: both;
  background-color: #343a40;
}

.container-fluid {
  height: 740px;
  margin: 0 auto;
  clear: both;
}
h1{
  text-align: center;
}

mark{
  background-color: rgb(204, 81, 65);


}

#name{
  background-color: rgb(230, 184, 59);
  font-size: 50px;
}



.massege {
  margin-left: 150px;

}

#small{
  background-color: rgb(85, 175, 73);
}

.card-body {
  margin-top: 180px
}

.card-title {
font-size: 40px;
}

.sketchy {
  padding: 2rem 4rem;
  display: inline-block;
  border: 3px solid #333333;
  font-size: 1.0rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
  margin: 20px 0 60px 0;
}

.title-about {
  font-size: 40px;
}

.card-cv{
  width:100%; 
  margin-top:5%; 
  text-align:center;
}

  
.one {
  border:solid 5px rgb(204, 81, 65);
  display:inline-block;
  margin: auto;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding:1em;
  line-height:1.5em;
  background:hsla(67, 95%, 95%, 1);
  margin: 0 40px 0 40px;

}

#contact {
  height: 740px;
  margin: 0 auto;
  clear: both;
  background-color: #343a40;
  
}